.linesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5%;
    padding-top: 0;
    margin: 0;
}

/* Neon styled title */
.title {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #279636, 0 0 40px #279636,
        0 0 50px #279636, 0 0 60px #279636, 0 0 70px #279636;
    margin-top: 10vh;
    text-align: center;
}

@media(max-width: 560px) {
    .title {
        font-size: 30px;
    }
}


main {
    background-color: black;
}